@page
@model WebPortalAPI.Areas.Admin.Pages.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirebaseSetting[0].ProfileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirebaseSetting[0].ApplicationID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirebaseSetting[0].SenderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirebaseSetting[0].DeviceID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirebaseSetting[0].RequestType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirebaseSetting[0].ContentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirebaseSetting[0].FCMSendUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FirebaseSetting) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProfileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FCMSendUrl)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
