@model WebPortalAPI.Areas.admin.Models.DashboardVM

@{
    Layout = "_Layout";
    ViewData["Title"] = "Dashboard";
}

<div class="row ">
    <div class="col-sm-12 firebaseContentHeader box-Shadow-light">
        <h1>Dashboard</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-layout outline">
        <div class="row">
            <table id="adminusersTable">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Devices</td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (AdminUser adminUser in Model.AdminUsersList)
                        {
                            <tr class="user-tr-row">
                                <td data-userID="@adminUser.Id">@adminUser.FirstName @adminUser.LastName </td>
                                <td>@adminUser.EmailAddress</td>
                                <td>DevicesList</td>
                            </tr>

                        }
                    }
                </tbody>
            </table>
        </div>

    </div>
    <div class="col-md-6 col-layout outline right-col-layout">
        <div id="radar-graph"></div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">

$(document).ready(function () {
    debugger;
    showDevices(true);
    showRadarGraph(true);

});


        function showDevices(enable) {
            if (enable) {
                $("#adminusersTable tr td:nth-child(1)").on("click", function (e) {
                    var self = $(this);
                    debugger;
                    var UserID = self.data("userid");
                    var tr = $(this).closest("tr");
                    if ($(tr).next().hasClass("devicesareshown")) {
                        $($(tr).next()).remove();
                    }
                    else {
                        var DevicesTR = "<tr class='devicesareshown animated fadeIn'><td colspan='3' class='devicesareshowntd'></td></tr>";
                        $(DevicesTR).insertAfter(tr);

                        $.get('@Url.Action("Devices", "Admin", new { area = "Admin" })?userID=' + UserID, function (data) {
                            debugger;
                            $('.devicesareshowntd').html(data);
                        });
                    }
                    if ($(tr).hasClass("devicesareshown")) {
                        return;
                    }

                });
            }
        }
        function showRadarGraph(enable) {
            if (enable) {
                debugger;
                $.get('@Url.Action("RadarGraph", "Admin", new { area = "Admin" })', function (data) {
                    debugger;
                    $('#radar-graph').html(data);
                });
            }
            }




</script>