@model WebPortalAPI.Data.FirebaseSetting

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FirebaseSetting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SenderID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SenderID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeviceID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeviceID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequestType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequestType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContentType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FCMSendUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FCMSendUrl)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
