@model WebPortalAPI.Data.FirebaseSetting

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>FirebaseSetting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProfileName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SenderID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SenderID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeviceID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeviceID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequestType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequestType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContentType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FCMSendUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FCMSendUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
